@import 'tailwindcss';

@theme {
  --font-wen-kai-zh: var(--font-heading-zh), monospace;
  --color-brand: #b32b2b;
  --color-content-main: #2c2c2c;
  --color-content-muted: #756d67;
  --color-border-subtle: #d8d5cf;
  --color-background: #fcfcfc;
  --color-warm-gray: #dfd3d4;

  --animate-marquee: marquee 60s linear infinite;
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  --animate-fade-in: fade-in 0.2s ease-out;
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animate-modal-in: modal-in 0.2s ease-out;
  @keyframes modal-in {
    from {
      opacity: 0;
      transform: translateY(8px) scale(0.98);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}
