@import 'tailwindcss';

@theme {
  --font-wen-kai-zh: var(--font-heading-zh), monospace;
  --color-brand: #b32b2b;
  --color-content-main: #2c2c2c;
  --color-content-muted: #5a524c;
  --color-border-subtle: #d8d5cf;
  --color-background: #fcfcfc;
}
